.box{
	background: #1f2632;
	width: 220px;
	height: 220px;
	margin-left: 45px;
	box-shadow:
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	transition: all 0.5s;
}

.box:hover{
	width: 340px;
	height: 440px;
	margin-left: -7%;
   transition: all 0.5s;
}

.box-margin{
	margin-left:4%;
	position: fixed;
}

.box-margin:nth-child(2){
	margin-left:35%;
}

.box-margin:nth-child(3){
	margin-left:65%;
}

.BigBox{
	margin-top: 30px;
}

#info-container{
	font-size: 18px;
}

.box:nth-child(1) > p:nth-child(2){
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	min-width: 300px;
	display: none;
}

.title-box{
	margin-top: 0px;
	padding-top: 20px;
	font-size: 22px;
}

#box1{
	margin-left: 10px;
	width: 80px;
	margin-top: 15px;
}

#box2{
	margin-left: 20px; 
	width: 80px;
	margin-top: 15px;
}

#box3{
	margin-left: 25px;
	width: 80px;
	margin-top: 15px;
}

