body{
	font-family: 'Orbitron', sans-serif;
}

#side-bar{
	position: absolute;
	height: 100%;
	background: #1f2632;
	color: #fff;
	padding: 2px;

}

#BigContainer{
	background: linear-gradient(#485670,#091325);
	position: absolute;
	height: 100%;
}

.links-side a{
	color: #26a1ff;
	font-size: 20px;
	display: block;
	text-decoration: none;
	padding: 10px;
} 

.links-side li{
	transition: border 0.5pxs;
}

.links-side li:hover{
	background-color: #495974;
	border-right: 6px solid #8898b4;
}

.links-side a:hover{
	color: #001a2e;
}

.links-side {
	list-style: none;
	margin: 1px;
	padding: 2px;
}

#Description{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
}

#logo{
	width: 220px;
}
