@font-face{
	font-family: 'Orbitron';
	src: url('../Fonts/Orbitron-Medium.ttf');
}

body{
	font-family: 'Orbitron';
	color: white;
}

.fa{
	color: #80c8ff;
}

#loader{
	font-size: 50px;
	margin-top: 20px;
}